

.formMovies {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.movieList {
  margin: 30px 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.movieCard {
  background-color: #888888;
  padding: 20px;
  border-radius: 4px;
  box-shadow:  4px 4px 6px rgba(250, 248, 248, 0.5);
  margin-top: 30px;
}

.movieCard img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow:  4px 4px 6px rgba(25, 25, 25, 0.5);
}

.movieCard h2 {
  font-size: 20px;
  margin-bottom: 5px;
  color: BLACK;
  margin-bottom: 20px;
}

.movieCard p {
  margin-bottom: 5px;
  color: BLACK;
} 

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}




/* @media (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  input[type="text"] {
    width: 100%;
  }

  button {
    padding: 8px 16px;
  }

  .movie-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .movie-card {
    padding: 10px;
  }

  .movie-card h2 {
    font-size: 16px;
  }
} */
