

.formMovies {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.movieList {
  margin: 30px 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.movieCard {
  border: 1px solid #ccc;
  border-radius: 4px;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
  box-shadow: inset 0px 0px 10px rgba(177, 177, 177, 0.9);
  padding: 20px;
  margin-top: 30px; 
}

.movieCard img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow:  4px 4px 6px rgba(25, 25, 25, 0.5);
}

.movieCard h2 {
  font-size: 20px;
  margin-bottom: 5px;
  color: white;
  margin-bottom: 20px;
}

.movieCard p {
  margin-bottom: 5px;
  color: rgb(216, 212, 212);
} 

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}




/* @media (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  input[type="text"] {
    width: 100%;
  }

  button {
    padding: 8px 16px;
  }

  .movie-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .movie-card {
    padding: 10px;
  }

  .movie-card h2 {
    font-size: 16px;
  }
} */
